<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <div class="main">
      <% if(data.result === 1) { %>
      <h3>Alas their is no data till yet</h3>
      <% } else { %>
      <nav
        class="navbar navbar-light rounded"
        style="background-color: #08246c"
      >
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1 fs-2" style="color: white"
            >Assets List</span
          >
          <form class="d-flex" id="Search-Form">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Device Serial Number"
              aria-label="Search"
              id="Search-Input"
            />
            <button
              class="btn btn-outline-success"
              type="submit"
              id="Search-Button"
            >
              Search
            </button>
          </form>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="filter"
              name="Filter"
              value="something"
            />
            <label class="form-check-label" style="color: white">Filter</label>
          </div>
        </div>
      </nav>
      <div class="iventory-container border border-top-0" id="Single-Inventory">
        <div class="d-flex flex-row mb-3 justify-content-between">
          <div class="p-2" style="font-weight: bold; font-style: italic">
            Device Serial Number
          </div>
          <div class="p-2" style="font-weight: bold; font-style: italic">
            Type
          </div>
        </div>
      </div>
      <div class="">
        <div
          class="d-flex flex-column justify-content-around"
          id="Inventory-List"
          style="margin-top: 20px"
        >
          <% data.data.map((asset, id) => { %>
          <div>
            <div
              class="single-inventory inventory-container border-bottom border-secondary border-1 Single-Inventory hover-overlay ripple shadow-1-strong rounded"
              data-mdb-ripple-color="light single-inventory"
              id="Single-Inventory${id}"
              data-id="<%= asset.DeviceSerialNumber %>"
            >
              <div class="d-flex flex-row mb-3 justify-content-between">
                <div class="p-2" id="deviceNumber<%=id%>">
                  <%= asset.DeviceSerialNumber %>
                </div>
                <div class="p-2"><%= asset.Type %></div>
              </div>
              <div
                id="on_hover_<%= id%>"
                class="dropdown"
                style="display: none"
              >
                <div
                  class="d-flex flex-column justify-content-between mb-3 align-items-center"
                >
                  <div class="p-2 text-capitalize">
                    <a style="font-weight: bold; font-style: italic" v>Name:</a>
                    ${asset.Name}
                  </div>
                  <div class="p-2 text-capitalize">
                    <a style="font-weight: bold; font-style: italic" v
                      >ConditionScore:</a
                    >
                    ${asset.ConditionScore}
                  </div>
                  <div class="p-2 text-capitalize">
                    <a style="font-weight: bold; font-style: italic" v
                      >Description:</a
                    >
                    ${asset.Description}
                  </div>
                  <div class="p-2 text-capitalize">
                    <a style="font-weight: bold; font-style: italic" v
                      >PurchasePrice:</a
                    >
                    ${asset.PurchasePrice}
                  </div>
                  <div class="p-2 text-capitalize">
                    <a style="font-weight: bold; font-style: italic" v
                      >PurchasedDate:</a
                    >
                    ${asset.PurchasedDate}
                  </div>
                  <div class="p-2 text-capitalize">
                    <a style="font-weight: bold; font-style: italic" v
                      >PurchaseType:</a
                    >
                    ${asset.PurchaseType}
                  </div>
                  <div class="p-2 text-capitalize">
                    <a style="font-weight: bold; font-style: italic" v
                      >PurchasedFrom:</a
                    >
                    ${asset.PurchasedFrom}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }); %>
        </div>

        <button
          class="btn position-fixed bottom-0 end-0 rounded-circle m-3"
          id="add-asset"
        >
          <i> <img src="/icons/plus.png" alt="" /> </i>
        </button>
      </div>
      <% }%>
    </div>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
      integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="page/inventory.js"></script>
  </body>
</html>
