<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    />
    <title>View Asset</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="main" class="d-flex justify-content-center flex-column m-3">
      <% if(result === 1) { %>
      <div id="not-found-div" class="alert alert-danger alter-dismissible">
        <%= message %>
      </div>
      <% } else { %>
      <div class="d-flex justify-content-center m-2">
        <nav class="navbar navbar-light bg-light navbar-expand-lg">
          <div class="container-fluid">
            <button class="btn btn-secondary" id="back-btn">Back</button>
          </div>
        </nav>
      </div>
      <div class="container border rounded" style="background-color: #f0f3f5">
        <div class="d-flex justify-content-center p-2">
          <h1 style="font-weight: bold; font-style: italic">View Asset</h1>
        </div>
        <div id="foam-div">
          <form autocomplete="off" id="update-asset-foam">
            <div class="row">
              <div class="form-group form-floating col">
                <input
                  type="text"
                  class="form-control"
                  id="device-serial-number"
                  name="device-serial-number"
                  placeholder="Device Serial Number"
                  value="<%= data.DeviceSerialNumber %>"
                  readonly
                />
                <label class="ms-2" for="device-serial-number"
                  >Device Serial Number</label
                >
              </div>
              <div class="col">
                <div class="form-group form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    value="<%= data.Name %>"
                    placeholder="Device Name"
                    readonly
                  />
                  <label for="name" class="form-label">Name</label>
                </div>
              </div>
            </div>
            <div class="p-2"></div>
            <div class="form-group form-floating">
              <textarea
                class="form-control"
                id="description"
                name="description"
                rows="3"
                placeholder="Description"
                readonly
                maxlength="100"
              >
<%= data.Description%></textarea
              >
              <label for="description">Description</label>
            </div>
            <div class="row">
              <div class="p-2 col">
                <div class="form-group form-floating">
                  <input
                    type="date"
                    class="form-control"
                    id="purchased-date"
                    name="purchased-date"
                    placeholder="Purchased Date"
                    value="<%= data.PurchasedDate %>"
                    readonly
                  />
                  <label for="purchased-date">Purchased Date</label>
                </div>
              </div>
              <div class="p-2 col">
                <div class="form-group form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="purchased-from"
                    name="purchased-from"
                    placeholder="Purchased From"
                    value="<%= data.PurchasedFrom %>"
                    readonly
                  />
                  <label for="purchased-from">Purchased From</label>
                </div>
              </div>
              <div class="p-2 col">
                <div class="form-group form-floating">
                  <input
                    type="number"
                    class="form-control"
                    id="purchase-price"
                    name="purchase-price"
                    step="1"
                    min="0"
                    max="9"
                    value="<%= data.PurchasePrice %>"
                    placeholder="Purchase Price"
                    readonly
                  />
                  <label for="purchase-price">Purchase Price</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="p-2 col">
                <div class="form-group form check">
                  <label>Device Type :</label>
                  <div class="form-check form-check-inline required">
                    <input class="form-check-input" type="radio"
                    name="device-type" id="device-type-laptop" <% if(data.Type
                    === 'Laptop'){ %> checked <% } %> value="Laptop" disabled />
                    <label class="form-check-label" for="purchase-type-new">
                      Laptop
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                    name="device-type" id="device-type-phone" <% if(data.Type
                    === 'Phone'){ %> checked <% } %> value="Phone" disabled />
                    <label class="form-check-label" for="purchase-type-used">
                      Phone
                    </label>
                  </div>
                </div>
              </div>

              <div class="p-2 col">
                <div class="form-group form check">
                  <label>Purchase Type :</label>
                  <div class="form-check form-check-inline required">
                    <input class="form-check-input" type="radio"
                    name="purchase-type" id="purchase-type-new" <%
                    if(data.PurchaseType === 'new'){ %> checked <% } %>
                    value="new" disabled />
                    <label class="form-check-label" for="purchase-type-new">
                      New
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                    name="purchase-type" id="purchase-type-used" <%
                    if(data.PurchaseType === 'used'){ %> checked <% } %>
                    value="used" disabled />
                    <label class="form-check-label" for="purchase-type-used">
                      Used
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-2"></div>
            <div class="form-group">
              <label for="condition-score">Condition Score</label><br />
              <div class="form-check form-check-inline required">
                <input class="Condition-Score-input" type="radio"
                name="Condition-Score" id="Condition-Score-very-good" <%
                if(data.ConditionScore === 'very-good'){ %> checked <% } %>
                value="very-good" disabled />
                <label class="form-check-label" for="Condition-Score-very-good">
                  Very Good
                </label>
              </div>
              <div class="form-check form-check-inline required">
                <input class="Condition-Score-input" type="radio"
                name="Condition-Score" id="Condition-Score-good" <%
                if(data.ConditionScore === 'good'){ %> checked <% } %>
                value="good" disabled />
                <label class="form-check-label" for="Condition-Score-good">
                  Good
                </label>
              </div>
              <div class="form-check form-check-inline required">
                <input class="Condition-Score-input" type="radio"
                name="Condition-Score" id="Condition-Score-needs-maintenance" <%
                if(data.ConditionScore === 'needs-maintenance'){ %> checked <% }
                %> value="needs-maintenance" disabled />
                <label
                  class="form-check-label"
                  for="Condition-Score-needs-maintenance"
                >
                  Needs-maintenance
                </label>
              </div>
              <div class="form-check form-check-inline required">
                <input class="Condition-Score-input" type="radio"
                name="Condition-Score" id="Condition-Score-needs-replacement" <%
                if(data.ConditionScore === 'needs-replacement'){ %> checked <% }
                %> value="needs-replacement" disabled />
                <label
                  class="form-check-label"
                  for="Condition-Score-needs-replacement"
                >
                  Needs-replacement
                </label>
              </div>
            </div>
            <div class="d-flex justify-content-center flex-row p-2">
              <button
                type="submit"
                class="btn btn-primary mx-auto"
                id="edit-button"
              >
                Edit
              </button>
              <button
                type="button"
                class="btn btn-primary"
                id="update-button"
                style="display: none"
              >
                Update
              </button>
            </div>
          </form>
          <div class="d-flex justify-content-center flex-row p-2">
            <button
              type="click"
              class="btn btn-danger mx-auto"
              id="delete-button"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <div
          id="hidden-div"
          style="display: none"
          class="alert alert-dismissible fade show m-2"
          role="alert"
        >
          <p id="hidden-div-message">
            The device of this serial Number Already exist
          </p>
          <!-- <strong>Holy guacamole!</strong> You should check in on some of those
        fields below. -->
        </div>
      </div>
      <!-- <div
        id="hidden-div"
        style="display: none"
        class="alert m-4 alert-dismissible fade show"
        role="alert"
      >
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <p id="hidden-div-message">
          The device of this serial Number Already exist
        </p>
      </div> -->

      <!-- <div class="p-3">
      <label for="further-info-selector ">Further Info selector</label><br />
      <select
        class="form-control"
        id="further-info-selector"
        name="further-info-selector"
      >
        <option value="">-- Select --</option>
        <option value="Assigned">Assigned</option>
        <option value="Comments">Comments</option>
        <option value="Issues">Issues</option>
      </select>
    </div> -->
      <div class="p-2"></div>
      <div
        class="d-flex justify-content-center align-items-center flex-column m3"
        id="further-info"
      >
        <h2 class="border-bottom" style="font-weight: bold; font-style: italic">
          Assigned History
        </h2>
        <div
          id="assigned-list"
          class="container border roundedd-flex justify-content-center align-items-center flex-column"
          style="background-color: #f0f3f5"
        >
          <% if(data.Assigned.length > 0) {%>
          <%if(data.Assigned[data.Assigned.length-1].dateOfDischarge !== "" ){%>
          <h6
            class="d-flex justify-content-center free-asset-message"
            id="free-asset2"
            style="color: rgb(253, 0, 0); font-style: italic"
          >
            The Asset is free
          </h6>
          <% }%> <%} else {%>
          <h6
            class="d-flex justify-content-center free-asset-message"
            id="free-asset1"
            style="color: rgb(255, 0, 0); font-style: italic"
          >
            The Asset is free
          </h6>

          <%}%>
          <h6
            class="d-flex justify-content-center free-asset-message"
            id="free-asset3"
            style="
              visibility: hidden;
              color: rgb(253, 0, 0);
              font-style: italic;
            "
          >
            The Asset is free
          </h6>
          <div class="d-flex flex-row justify-content-around">
            <button class="btn btn-primary rounded m-3" id="add-assigned">
              Add new Assignee
            </button>

            <button class="btn btn-danger rounded m-3" id="free-asset">
              Free Asset
            </button>
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Assigned To Name</th>
                <th scope="col">Date Of Assignment</th>
                <th scope="col">Date Of Discharge</th>
                <th scope="col">Password</th>
              </tr>
            </thead>
            <tbody id="assigned-body">
              <% data.Assigned.map((assign)=>{ %>
              <tr>
                <td><%= assign.assignedToName %></td>
                <td><%=assign.dateOfAssignment%></td>
                <td><%=assign.dateOfDischarge%></td>
                <td><%=assign.password%></td>
              </tr>
              <%})%>
            </tbody>
          </table>
        </div>
        <div class="p-2"></div>
        <h2 class="border-bottom" style="font-weight: bold; font-style: italic">
          Issue History
        </h2>
        <div
          id="issue-list"
          class="container border rounded"
          style="background-color: #f0f3f5"
        >
          <div class="d-flex flex-row justify-content-around">
            <button class="btn btn-primary rounded m-3" id="add-issue">
              Add new issue
            </button>
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Issue Id</th>
                <th scope="col">Issue</th>
                <th scope="col">Issue Date</th>
                <th scope="col">Resolution</th>
              </tr>
            </thead>
            <tbody id="issue-body">
              <% data.Issues.map((issue)=>{ %>
              <tr>
                <td><%= issue.issueId %></td>
                <td><%=issue.issue%></td>
                <td><%=issue.issueDate%></td>
                <td>
                  <% if(issue.resolution === "") { %>
                  <button
                    class="btn btn-outline-primary Resolve"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#Resolve-issue-modal"
                    data-id="<%=issue.issueId%>"
                    data-issue="<%=issue.issue%>"
                  >
                    Resolve
                  </button>
                  <% } else { %> <%= issue.resolution %> <%} %>
                </td>
              </tr>
              <%})%>
            </tbody>
          </table>
        </div>
        <div class="p-2"></div>
        <h2 class="border-bottom" style="font-weight: bold; font-style: italic">
          Comment History
        </h2>
        <div
          id="comment-list"
          class="container border rounded"
          style="background-color: #f0f3f5"
        >
          <div class="d-flex flex-row justify-content-around">
            <button class="btn btn-primary rounded m-3" id="add-comment">
              Add new comment
            </button>
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Comment</th>
                <th scope="col">date</th>
              </tr>
            </thead>
            <tbody id="comment-body">
              <% data.Comments.map((comment)=>{ %>
              <tr>
                <td><%= comment.comment %></td>
                <td><%=comment.dateOfComment%></td>
              </tr>
              <%})%>
            </tbody>
          </table>
        </div>
      </div>
      <div id="Resolve-issue-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-bs-dismiss="modal">
                &times;
              </button>
            </div>
            <div class="modal-body">
              <div id="foam-div">
                <form autocomplete="off" id="resolve-issue-foam">
                  <div class="form-group form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="issue-id"
                      name="issue-id"
                      placeholder="issue id"
                      readonly
                    />
                    <label for="issue-id">Issue id</label>
                  </div>
                  <div class="p-2"></div>
                  <div class="form-group form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="issue"
                      name="issue"
                      placeholder="issue"
                      readonly
                    />
                    <label for="issue">Issue</label>
                  </div>
                  <div class="p-2"></div>
                  <div class="form-group form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="resolution"
                      name="resolution"
                      placeholder="resolution"
                    />
                    <label for="resolution" class="form-label"
                      >Resolution</label
                    >
                  </div>
                  <div class="p-2"></div>

                  <div class="d-flex justify-content-center p-2">
                    <button
                      type="submit"
                      class="btn btn-primary mx-auto"
                      id="Resolve-button"
                    >
                      Resolve
                    </button>
                  </div>
                </form>
              </div>
              <div
                id="modal-hidden-div"
                style="display: none"
                class="alert m-4 alter-dismissible"
                role="alert"
              >
                <p id="modal-hidden-div-message">
                  The device of this serial Number Already exist
                </p>
              </div>
            </div>

            <div class="modal-footer"></div>
          </div>
        </div>
      </div>
      <% }%>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="asset.js"></script>
  </body>
</html>
