<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js ; media-src *"
    />
    <title>Asset-List</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="main">
      <% if(data.result === 1) { %>
      <h3>Alas their is no data till yet</h3>
      <% } else { %>
      <div class="d-flex justify-content-around p-1">
        <button class="btn btn-danger" type="click" id="logout-Button">
          Logout
        </button>
        <div style="position: sticky">
          <button
            class="btn btn-outline-info Resolve"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#Download-modal"
          >
            <i>
              <img
                src="/icons/download.svg"
                style="height: 20px; width: 20px"
                alt=""
              />
            </i>
          </button>
          Download the Asset-List CSV
        </div>
      </div>
      <div class="m-2 d-flex flex-column justify-content-center">
        <nav
          class="navbar navbar-light rounded"
          style="background-color: #08246c; position: sticky"
        >
          <div class="container-fluid">
            <span class="navbar-brand mb-0 h1 fs-2" style="color: white"
              >Assets List</span
            >
            <form class="d-flex" id="Search-Form">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Device Serial Number"
                aria-label="Search"
                id="Search-Input"
              />
              <button
                class="btn btn-outline-success"
                type="submit"
                id="Search-Button"
              >
                Search
              </button>
            </form>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="filter"
                name="Filter"
                value="something"
              />
              <label class="form-check-label" style="color: white"
                >Show Free Asset</label
              >
            </div>
          </div>
        </nav>
        <div
          class="iventory-container border border-top-0"
          id="Single-Inventory"
        >
          <div class="d-flex flex-row mb-3 justify-content-between">
            <div class="p-2" style="font-weight: bold; font-style: italic">
              Device Serial Number
            </div>
            <div class="p-2" style="font-weight: bold; font-style: italic">
              Type
            </div>
          </div>
        </div>
        <div class="">
          <div
            class="d-flex flex-column justify-content-around"
            id="Inventory-List"
            style="margin-top: 20px"
          >
            <% data.data.map((asset, id) => { %>
            <div>
              <div
                class="single-inventory inventory-container border-bottom border-secondary border-1 Single-Inventory hover-overlay ripple shadow-1-strong rounded"
                data-mdb-ripple-color="light single-inventory"
                id="Single-Inventory${id}"
                data-id="<%= asset.DeviceSerialNumber %>"
              >
                <div class="d-flex flex-row mb-3 justify-content-between p-0">
                  <div class="col-3" id="deviceNumber<%=id%>">
                    <%= asset.DeviceSerialNumber %>
                  </div>
                  <div class="col-3" style="text-align: center">
                    <%= asset.Comments.length %><i>
                      <img
                        src="/icons/comment.svg"
                        style="height: 50px; width: 20px"
                        alt=""
                      />
                    </i>
                  </div>
                  <%let unresolved =0 ; %> <% asset.Issues.map((issue)=>{ %> <%
                  if(issue.resolution === '') { %> <% unresolved = unresolved +
                  1; %> <% } %> <%})%>
                  <div class="col-3" style="text-align: center">
                    <%= unresolved %><i>
                      <img
                        src="/icons/issue.svg"
                        style="height: 50px; width: 20px"
                        alt=""
                      />
                    </i>
                  </div>
                  <div class="col-3" style="text-align: right">
                    <%= asset.Type %>
                  </div>
                </div>
                <div
                  id="on_hover_<%= id%>"
                  class="dropdown"
                  style="display: none"
                >
                  <div
                    class="d-flex flex-column justify-content-between mb-3 align-items-center"
                  >
                    <div class="p-2 text-capitalize">
                      <a style="font-weight: bold; font-style: italic" v
                        >Name:</a
                      >
                      ${asset.Name}
                    </div>
                    <div class="p-2 text-capitalize">
                      <a style="font-weight: bold; font-style: italic" v
                        >ConditionScore:</a
                      >
                      ${asset.ConditionScore}
                    </div>
                    <div class="p-2 text-capitalize">
                      <a style="font-weight: bold; font-style: italic" v
                        >Description:</a
                      >
                      ${asset.Description}
                    </div>
                    <div class="p-2 text-capitalize">
                      <a style="font-weight: bold; font-style: italic" v
                        >PurchasePrice:</a
                      >
                      ${asset.PurchasePrice}
                    </div>
                    <div class="p-2 text-capitalize">
                      <a style="font-weight: bold; font-style: italic" v
                        >PurchasedDate:</a
                      >
                      ${asset.PurchasedDate}
                    </div>
                    <div class="p-2 text-capitalize">
                      <a style="font-weight: bold; font-style: italic" v
                        >PurchaseType:</a
                      >
                      ${asset.PurchaseType}
                    </div>
                    <div class="p-2 text-capitalize">
                      <a style="font-weight: bold; font-style: italic" v
                        >PurchasedFrom:</a
                      >
                      ${asset.PurchasedFrom}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% }); %>
          </div>

          <button
            class="btn position-fixed bottom-0 end-0 rounded-circle m-3"
            id="add-asset"
          >
            <i> <img src="/icons/plus.png" alt="" /> </i>
          </button>
        </div>
      </div>
      <% }%>
      <div id="Download-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-bs-dismiss="modal">
                &times;
              </button>
            </div>
            <div class="modal-body">
              <div id="foam-div">
                <form autocomplete="off" id="download-foam">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value="nothing"
                      id="download-assigned"
                    />
                    <label class="form-check-label" for="download-assigned">
                      Assigned
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value="nothing"
                      id="download-issue"
                    />
                    <label class="form-check-label" for="download-issue">
                      Issue
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value="nothing"
                      id="download-comment"
                    />
                    <label class="form-check-label" for="download-comment">
                      Comment
                    </label>
                  </div>
                </form>
                <div class="d-flex justify-content-center p-2">
                  <button
                    type="click"
                    class="btn btn-primary mx-auto"
                    id="download-now-button"
                  >
                    Download Now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script src="page/inventory.js"></script>
  </body>
</html>
